{% extends "layout.html.twig" %}

{% block title %}Une erreur s'est produite{% endblock %}

{% block body %}
    <h1>Une erreur s'est produite !</h1>

    Voulez-vous retourner vers la <a href="{{ path('homepage') }}">page d'accueil</a> ?
{% endblock %}

