{% extends "layout.html.twig" %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <h1>Page introuvable !</h1>

    Voulez-vous retourner vers la <a href="{{ path('homepage') }}">page d'accueil</a> ?
{% endblock %}

